@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper-hewitt/CooperHewitt-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

/* Optionally, add other weights or styles if available */
@font-face {
  font-family: "Cooper Hewitt";
  src: url("/fonts/cooper-hewitt/CooperHewitt-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora/Lora-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora/Lora-Italic-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: italic;
}

@font-face {
  font-family: "David Libre";
  src: url("/fonts/david-libre/DavidLibre-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "David Libre";
  src: url("/fonts/david-libre/DavidLibre-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work-sans/WorkSans-VariableFont_wght.ttf") format("truetype");
  font-weight: 400 700;
  font-style: normal;
}

@font-face {
  font-family: "Work Sans";
  src: url("/fonts/work-sans/WorkSans-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-weight: 400 700;
  font-style: italic;
}

.custom-after::after {
  content: " / ";
}
